extends layout

include mixins/_shoppingCard

block content
    .container
        h2= title
        .shoppingCarts
            each shoppingCart in shoppingCarts['products']
                +shoppingCard(shoppingCart)
            
            script(src='https://www.paypal.com/sdk/js?client-id=AWUeC7BsLlxbmh2d3yoG4w-4Mit6VXoy35iIyrsenkrvz0cwB_6oANBX__N3U-3wXDUMLuAj2L6YAjRU&currency=EUR')
                       
            #paypal-button-container
            script.
                paypal.Buttons({
                    createOrder: (data, actions) => {
                        
                        return fetch("/api/orders", {
                            method: "post",
                        })
                        .then((response) => response.json())
                        .then((order) => order.id);
                    },

                    onApprove: (data, actions) => {
                        return fetch(`/api/orders/${data.orderID}/capture`, {
                            method: "post",
                        })
                        .then((response) => response.json())
                        .then((orderData) => {
                
                            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    
                            const transaction = orderData.purchase_units[0].payments.captures[0];
                
                            alert(`Transaction ${transaction.status}: ${transaction.id}\\n\nSee console for all available details`);
                        });
                    }
                }).render('#paypal-button-container');
